<!DOCTYPE html>
<html lang="DA">
<head>
    <meta charset="UTF-8">
    <title>NMR</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- FAVICON-->
    <link rel="icon" href="/img/fav_icons.png" type="image">
</head>
<body>
<!-- HEADER -->
<header class="naviBarColor">
    <div class="container">
        <nav class="naviBarSize">
            <ul>
                <a href="/home"><img id="navBarLogo" src="/img/bigLogoWhite.png"></a>
                <li><a href="/motorhome">Motorhome</a></li>
                <li><a href="/medarbejder">Medarbejder</a></li>
                <li><a href="/kunde">Kunde</a></li>
                <li><a href="/udlejning">Udlejning</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- MAIN -->
<main>
    <div class="overskrift">
        <h1>Velkommen, admin</h1>
        <h3>Brug navigation baren til at finde rundt :)</h3>
    </div>
</main>

<!-- FOOTER -->

</body>