<!DOCTYPE html>
<html lang="DA" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NMR</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- FAVICON-->
    <link rel="icon" href="/img/fav_icons.png" type="image">
</head>
<body class="motorhomeDetails">
<!-- HEADER -->
<header>
    <div class="container">
        <nav>
            <ul>
                <a href="/home"><img id="navBarLogo" src="/img/bigLogoWhite.png" alt="#"></a>
                <li><a href="/motorhome">Motorhome</a></li>
                <li><a href="/medarbejder">Medarbejder</a></li>
                <li><a href="/kunde">Kunde</a></li>
                <li><a href="/udlejning">Udlejning</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- MAIN -->
<main>
    <div class="overskrift">
        <h1>Detaljer</h1>
        <h5>Her kan du se Motorhome detalijer ved id:
            <tr th:each="motorhome : ${motorhome}">
                <span th:text="${motorhome.motorhomeId}"></span>
            </tr>
        </h5>
    </div>
        <table class="overviewTable">
            <tr>
                <th>Motorhome ID</th>
                <th>Motorhome pris</th>
                <th>Motorhome nr.plade</th>
                <th>Motorhome Brand</th>
                <th>Motorhome Model</th>
                <th>Motorhome Årgang</th>
                <th>Motorhome Farve</th>
                <th>Motorhome Kapacitet</th>

            </tr>

            <tr th:each="motorhome: ${motorhome}">
                <th th:text="${motorhome.motorhomeId}"></th>
                <th th:text="${motorhome.pricePerDay}"></th>
                <th th:text="${motorhome.numberPlate}"></th>
                <th th:text="${motorhome.brand}"></th>
                <th th:text="${motorhome.model}"></th>
                <th th:text="${motorhome.year}"></th>
                <th th:text="${motorhome.color}"></th>
                <th th:text="${motorhome.bedding}"></th>
        </table>

    <div class="navigation-buttons">
        <a href="/motorhome-overview"><button id="backBtn" type="button">Tilbage</button></a>
    </div>
</main>

<!-- FOOTER -->
<footer class="homeFooter">
    <p>Mohamad Elhady
        <br>Nordic Motor Rental
        <br>Interdisciplinary Exam Project
        <br>KEA, Computer Science
        <br>sem2 2020©
    </p>
</footer>

</body>