<!DOCTYPE html>
<!-- Language of website parameter-->
<html lang="DA" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic Page Needs -->
    <!-- ************************************ -->
    <meta charset="UTF-8">
    <title>NMR</title>

    <!-- Mobile Specific Metas -->
    <!-- ************************************ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <!-- ************************************ -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- Favicon -->
    <!-- ************************************ -->
    <link rel="icon" href="/img/fav_icons.png" type="image">
</head>

<body>
<!--Navigation -->
<!-- ************************************ -->
<!-- MAIN -->
<header>
    <div class="container">
        <nav>
            <ul>
                <a href="/"><img id="navBarLogo" src="/img/bigLogoWhite.png"></a>
                <li><a href="/motorhome">Motorhome</a></li>
                <li><a href="/medarbejder">Medarbejder</a></li>
                <li><a href="/kunde">Kunde</a></li>
                <li><a href="/udlejning">Udlejning</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Main -->
<main>
    <div class="CRUD-box">
        <a href="create_Employee.html"><button class="Createbtn"type="button">Create</button></a>
        <a href="create_Employee.html"><button class="Readbtn"type="button">Read</button></a>
        <a href="create_Employee.html"><button class="Updatebtn"type="button">Update</button></a>
        <a href="create_Employee.html"><button class="Deletebtn"type="button">Delete</button></a>
    </div>
</main>

<footer class="homeFooter">
    <p>Heritier Mugisha
        <br>Nordic Motor Rental
        <br>Interdisciplinary Exam Project
        <br>KEA, Computer Science
        <br>sem2 2020©
    </p>
</footer>

</body>
</html>

