<!DOCTYPE html>
<!-- Language of website parameter-->
<html lang="DA" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic Page Needs -->
    <!-- ************************************ -->
    <meta charset="UTF-8">
    <title>NMR</title>

    <!-- Mobile Specific Metas -->
    <!-- ************************************ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <!-- ************************************ -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- Favicon -->
    <!-- ************************************ -->
    <link rel="icon" href="/img/fav_icons.png" type="image">
</head>

<body>
<!--Navigation -->
<!-- ************************************ -->
<!-- HEADER -->
<header>
    <div class="container">
        <nav>
            <ul>
                <a href="/"><img id="navBarLogo" src="/img/bigLogoWhite.png"></a>
                <li><a href="/motorhome">Motorhome</a></li>
                <li><a href="/medarbejder">Medarbejder</a></li>
                <li><a href="/kunde">Kunde</a></li>
                <li><a href="/udlejning">Udlejning</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Main -->
<main>
    <div class="overskrift">
        <h1>Kunde detaljer</h1>
    </div>
    <div>
        <table class="overviewTable">
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Adresse</th>
                <th>Kørekort Nummer</th>
                <th>CPR</th>
            </tr>
            <tr th:each="customer : ${customer}">
                <th th:text="${customer.customerId}"></th>
                <th th:text="${customer.firstName}"></th>
                <th th:text="${customer.lastName}"></th>
                <th th:text="${customer.address}"></th>
                <th th:text="${customer.driverLicenseNo}"></th>
                <th th:text="${customer.cprNo}"></th>
            </tr>
        </table>
    </div>
    <div class="navigation-buttons">
        <a href="/kunde-oversigt"><button id="backBtn" type="button">Tilbage</button></a>
    </div>
</main>
<!-- FOOTER -->
<footer class="homeFooter">
    <p>Heritier Mugisha
        <br>Nordic Motor Rental
        <br>Interdisciplinary Exam Project
        <br>KEA, Computer Science
        <br>sem2 2020©
    </p>
</footer>
</body>
</html>

