@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

/* body og baggrundsbillede*/
html, body{
    margin: -8px 0 0 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-image: url("/img/pic1.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*---- navigation start ----*/
#navBarLogo{
    float: left;
    height: 60px;
    width: auto;
}

header{
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav{
    padding-top: 0px;
}

nav li {
    display: block;
    margin-right: 20px;
    padding-top: 2%;
    padding-right: 50px;
    float: right;
    position: relative;
}

nav a{ /*--- navigation bar text colour ---*/
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: rgba(255, 255, 255, 1);
}

nav ul li a::before{ /*--- FX white block ---*/
    content: '';
    display: block;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 20%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

/*---hover effect white block ---*/
nav a:hover::before         {width: 80%;}

/*--- Navigation end---*/

            /*-- LOGIN FIELD   INDEX--*/
#greeting{
    margin-top: 2%;
    text-align: center;
}

.loginFormular {
    background-color: #0c0c0c;
    color: #C3C3C3;
    margin: 3% auto;
    display: grid;
    grid-gap: 30px;
    padding: 3rem 4rem;
    width: 40%;
    border-radius: 4px;
}

#loginBtn {
    background-color: #26be6c;
    width: 40%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 4% auto 0 auto;
    display: block;
}

.loginPic{
    display: block;
    margin: auto;
    max-width:100%;
    height: auto;
}
        /*Index end*/
        /*--- boksen rundt om input <form> ---*/
.info {
    margin: 3% auto ;
    /*box-shadow: var(--shadow);*/
    display: grid;
    grid-gap: 30px;
    padding: 1rem 2rem;
    width: 50%;
    background-color: rgba(229, 229, 229, 0.8);
}

        /*--- input <form> ---*/
input, select, textarea {
    width: 100%;
    padding: 12px;
    background-color:white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */;
}
        /*overskrift på form siderne*/

.info h2{
    font-size: 30px;
    margin-bottom: 0;
}
        /*input tekst i fprmularen */

::placeholder {
    color: black;
}

         /* de nederste knapper under form*/
.navigation-buttons button {
    background-color: #4CAF50;
    width: 15%;
    text-align: center;
    margin: auto;
    color: white;
    padding: 12px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* tilbage knappen  */
#backBtn{
    float: left;
    margin: 1%;
    background-color: red;
}

    /* videre knappen  */
#continueBtn{
    float: right;
    margin: 1%;
    background-color: green;
}

#RegretBtn{
    color: white;
    background-color: #0c0c0c;
    margin-top: 1%;
    margin-left: 25%;
}
    /*--- table start---*/
.overviewTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin: 3% auto;
    border: 4px solid black;
}

.overviewTable tr:nth-child(even){background-color: #f2f2f2;}

.overviewTable tr:hover {background-color: #ddd;}

.overviewTable tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: black;
}

.overviewTable tr.overviewTable th {
    border: 1px solid #ddd;
    padding: 10px;
}

.overviewTable th{
    padding: 1%;
}

#test{
    width:40%;
    text-align: center;
}

#edit{
    text-align: center;
}

.TabledetailsBtn{
    padding: 3%;
    margin: 0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.detailsBtn{
    background-color: #4CAF50;
}
#CupdateBtn{
    background-color:#008CBA;
}
#CdeleteBtn{
    background-color: red;
}

.updateBtn{
    background-color:#008CBA;
}

.deleteBtn{
    background-color: red;
}
        /*--- table end---*/

        /*--- CRUD box Start---*/
/*overskrifts placering*/

.overskrift{
    margin-left: 40px;
}

.overskrift h5{
    font-size: 20px;
    padding: 0;
}

/*--- crud boksen---*/
.CRUD-box {
    display: grid;
    grid-gap: 2%;
    margin: 2% auto;
    padding: 2%;
    width: 40%;
    height: 20em;
    text-align: center;
    background-color: lightgrey;
    opacity: 0.8;
    border-radius: 2%;
}

/*--- crud knapper---*/
.button{
    padding: 3%;
    width: 50%;
    text-align: center;
    border-radius: 2%;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.CreateBtn {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.CreateBtn:hover {
    background-color: #4CAF50;
    color: white;
}

.ReadBtn {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.ReadBtn:hover {
    background-color: #008CBA;
    color: white;
}

.UpdateBtn{
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.UpdateBtn:hover {
    background-color: #f44336;
    color: white;
}
.DeleteBtn {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.DeleteBtn:hover {
    background-color: #555555;
    color: white;
}

        /*--- CRUD box end---*/
#wrong{
    color: #f44336;
}

/* overskrift på udlejning detaljer*/
.renatlDetails h1, h4{
    margin-left: 3%;

}

/* overskrift på confirmation sider*/
.doneTitle h1, h3{
    margin-left: 3%;
}

/* ---task completed knap---*/
#DoneBtn{
    float: left;
    margin-left: 3%;
}

/*--- FOOTER --*/

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 2%;
}

footer p{
    float:right;
    text-align: right;
    padding-right: 1%;
    font-size: 10px;
    display:flex;
    justify-content:right;
    align-items:flex-end;
}

.homeFooter{
    position: fixed;
}

.motorhomeDetails #backBtn{
    margin-left: 3%;
}
