<!DOCTYPE html>
<html lang="DA" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NMR</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- FAVICON-->
    <link rel="icon" href="/img/fav_icons.png" type="image">
</head>
<body>

<!-- HEADER -->
<header class="naviBarColor">
    <div class="container">
        <nav class="naviBarSize">
            <ul>
                <a href="/home"><img id="navBarLogo" src="/img/bigLogoWhite.png"></a>
                <li><a href="/motorhome">Motorhome</a></li>
                <li><a href="/medarbejder">Medarbejder</a></li>
                <li><a href="/kunde">Kunde</a></li>
                <li><a href="/udlejning">Udlejning</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- MAIN -->
<main>
    <div class="overskrift">
        <h1>Oversigt over udlejninger</h1>
    </div>
        <table class="overviewTable">

        <tr>
                <th>Udlejnings ID</th>
                <th>Kunde ID</th>
                <th>Motorhome ID</th>
                <th>Dato for udlejning</th>
                <th>Dato for returnering</th>
                <th>Total</th>
                <th id="edit">Ændr</th>
            </tr>
            <tr th:each="r : ${rentals}">
                <th th:text="${r.rental_id}"></th>
                <th th:text="${r.customer_id}"></th>
                <th th:text="${r.motorhome_id}"></th>
                <th th:text="${r.date_start}"></th>
                <th th:text="${r.date_end}"></th>
                <th th:text="${r.total}"></th>
                <td>
                    <a th:href="@{/udlejning-detaljer(id=${r.rental_id})}"><button class="TabledetailsBtn detailsBtn">Detaljer</button></a>
                    <a th:href="@{/opdater-udlejning(id=${r.rental_id})}"><button class="TabledetailsBtn updateBtn">Redigér</button></a>
                    <a th:href="@{/slet-udlejning(id=${r.rental_id})}"><button class="TabledetailsBtn deleteBtn">Slet</button></a>
                </td>
            </tr>
        </table>
    </div>
</main>

<!-- FOOTER -->
<footer class="homeFooter">
    <p>Dejan Alija
        <br>Nordic Motor Rental
        <br>Interdisciplinary Exam Project
        <br>KEA, Computer Science
        <br>sem2 2020©
    </p>
</footer>

</body>