<!DOCTYPE html>
<html lang="DA" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NMR</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- FAVICON-->
    <link rel="icon" href="/img/fav_icons.png" type="image">
</head>
<body>

<!-- HEADER -->
<header class="naviBarColor">
    <div class="container">
        <nav class="naviBarSize">
            <ul>
                <a href="/home"><img id="navBarLogo" src="/img/bigLogoWhite.png"></a>
                <li><a href="/motorhome">Motorhome</a></li>
                <li><a href="/medarbejder">Medarbejder</a></li>
                <li><a href="/kunde">Kunde</a></li>
                <li><a href="/udlejning">Udlejning</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- MAIN -->
<main>
    <div class="info">
        <h1>Opret medarbejder</h1>
        <div>
            <table>
                <form th:e="${employeeToBeAdded}" th:action="@{/opret-medarbejder}" enctype="UTF8" method="post">
                    <tr>
                        <label for="rid">Medarbejder ID</label>
                        <input id="rid" placeholder="Indtast medarbejder ID..." type="number" value="NULL"
                               th:field="*{employeeToBeAdded.employeeId}" required>

                        <br>
                        <label for="dept">Stilling</label>
                        <input id="dept" placeholder="Indtast stilling..." type="text" value="NULL"
                               th:field="*{employeeToBeAdded.department}" required>

                        <br>
                        <label for="forn">Fornavn</label>
                        <input id="forn" placeholder="Indtast fornavn..." type="text" value="NULL"
                               th:field="*{employeeToBeAdded.firstName}" required>

                        <br>
                        <label for="eftern">Efternavn</label>
                        <input id="eftern" placeholder="Indtast efternavn..." type="text" value="NULL"
                               th:field="*{employeeToBeAdded.lastName}" required>
                        <br>

                        <label for="add">Adresse</label>
                        <input id="add" placeholder="Indtast efternavn..." type="text" value="NULL"
                               th:field="*{employeeToBeAdded.adress}" required>
                        <br>

                        <label for="cpr">CPR</label>
                        <input id="cpr" placeholder="Indtast CPR-nummer..." type="text" value="NULL"
                               th:field="*{employeeToBeAdded.cprNr}" required>
                        <br>

                        <label for="passw">Password</label>
                        <input id="passw" placeholder="Indtast password..." type="text" value="NULL"
                               th:field="*{employeeToBeAdded.password}" required>

                        <br>
                        <!-- SUBMIT BUTTONS -->
                        <div class="navigation-buttons">
                            <a href="/udlejning">	<button id="backBtn" class="bBtn" type="button">Tilbage</button></a>
                            <button id="continueBtn" class="continueBtn" type="submit">Videre</button>
                        </div>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</main>

<!-- FOOTER -->
<footer class="homeFooter">
    <p>Oliver Schoenemann Bramsen
        <br>Nordic Motor Rental
        <br>Interdisciplinary Exam Project
        <br>KEA, Computer Science
        <br>sem2 2020©
    </p>
</footer>
</body>